@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  button {
    margin-left: 8px;
  }
}

.content {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - var(--mat-toolbar-standard-height));
}


.link {
  &-active {
    color: var(--mat-sys-primary) !important;
  }
}
